{{#>page}}
<h1>Sports</h1>
<ul>
  <li><a href="/sports/gymnastics"><img src="/images/sports/gymnastics.png" height="120" />Gymnastics</a></li>
  <li><a href="/sports/sprinting"><img src="/images/sports/sprinting.png" height="120" />Sprinting</a></li>
  <li><a href="/sports/swimming"><img src="/images/sports/swimming.png" height="120" />Swimming</a></li>
  <li><a href="/sports/weight-lifting"><img src="/images/sports/weight-lifting.png" height="120" />Weight Lifting</a>
  </li>
</ul>
{{/page}}